.topbar-container {
  display: flex;
  flex-direction: column;
  /*border: 2px solid #8E8686;
  border-radius: 12px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);*/
  padding: 5px;
  margin-bottom: 0;
  background-color: #fff;
}

.topbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.category-filter {
  padding: 10px 16px;
  margin-top: 40px;
  margin-right: 300px;
}

.topbar-search {
  flex: 1;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.topbar-title {
  color: #8E8686;
  text-align: flex-start;
  flex: 2;
  font-size: 22px;
  margin: 0;
  padding-left: 60px;
}

.topbar-icon {
  width: 24px;
  height: 24px;
}

.topbar-controls {
  margin-top: 40px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

