.top-controls {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
  margin-top: 40px;
}

.control-button {
  background-color: #A100FF;
  color: white;
  font-weight: bold;
  border: none;
  border-bottom: 3px solid #8E8686;
  border-radius: 12px;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 0 2px 4px rgba(142, 134, 134, 0.3);
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.control-button:hover {
  background-color: #8a00d6;
}

.button-icon {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1); /* hace el ícono blanco */
}
